body
{
    background-image:url("img.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
h1
{
    color: white;
    font-size: 48px;
    position: relative;
    margin-top: 9px;
}
.container
{
    position: absolute;
    border: 2px solid black;
    margin-top: 7%;
    margin-left: 20%;
    background-color: rgb(117, 139, 139);
    height: 500px;
    width: 900px;
    text-align: center;
}

.meter
{
    font-size: 150px;
    position: absolute;
    /* margin-top: -18%; */
    /* margin-bottom: 10%; */
    /* text-align: center; */
    margin-left: 415px;
}
#disp
{
    background-color: rgb(117, 139, 139);
    border: 0px;
    font-size: 100px;
    width: 400px;
}
    
#b1
{
    position: relative;
    margin-right: 220px;
    margin-top: 180px;
    padding: 9px 14px 7px 9px;
    border-radius: 10px;
    background-color: coral;
    font-size: 17px;
}

#b2
{
    position: relative;
    padding: 9px 14px 7px 9px;
    border-radius: 10px;
    background-color: coral;
    font-size: 17px;
}
#note
{
    margin-top: 90px;
    font-size: 20px;
}
